html, body, #map {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0px;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4px;
}
.leftColumn {
  background-color: black; 
  color: white;
  overflow-y: auto;
}
.rightColumn {
  overflow-y: auto;
}
h4 {
  text-align: center;
}
:invalid: {
  border: red;
}
.spinner-parent {
  position: relative;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  display:none;
}
